.main{
    width: 150px;
    height: 150px;
    background-color: aqua;
    margin-left: 10px;
    transition:  1s;
    transition-timing-function: ease-in-out;
}

.main:hover{
    width: 300px;
    height: 250px;
    background-color: green;
    border-radius: 20px;
}

.div2{
    width: 300px;
    height: 250px;
    background-color: red;
    margin-left: 10px;
    margin-top: 50px;
    transition: 1s;
    transition-timing-function:cubic-bezier(.27,.15,.1,1.07)

}

.div2:hover{
    width: 450px;
    height: 400px;
    background-color: yellow;
}

.div3{
    display: flex;
    margin-top: 40px;
    margin-left: 10px;
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    justify-content: center;
    align-items: center;
    transition: 2s;
    animation-name: primer;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes primer{
    25%{
        background-color: aqua;
        transform: rotate(25deg);
    }

    50%{
        transform: translateX(300px) rotate(360deg);
    }
}


